<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">About this App</h1>
        <p class="lead">This is a simple angular app created by Junaid Shahpal that contain add and delete operations in a list without reloading the page</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" routerLink="/" role="button">Learn more</a>
        <a class="btn btn-primary btn-lg" routerLink="/" role="button">Learn more</a>
        <a class="btn btn-primary btn-lg" routerLink="/" role="button">Learn more</a>
      </div>
</div>